{% extends 'layout.html' %}

{% block body %}
    <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
    <hr>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
                <td>
                    <form action="{{url_for('StartStop_elections') }}" method="post">
                        <input type="hidden" name ="method" value="StartStop elections">
                        <input type="submit" value="StartStop elections" class="btn btn-danger">
                    </form>
                
                <form action="{{url_for('StartStop_nominations') }}" method="post">
                    <input type="hidden" name ="method" value="StartStop nominations">
                    <input type="submit" value="StartStop nominations" class="btn btn-danger">
                </form>
                <form action="{{url_for('reset_votes') }}" method="post">
                    <input type="hidden" name ="method" value="reset_votes">
                    <input type="submit" value="reset_votes" class="btn btn-danger">
                </form>
                <td><a href="validate_candidates" class="btn btn-default pull-right">Validate Nominations</a></td>
            </td>
    </table>
{% endblock %}