<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="apple-touch-icon" href="../static/img/apple-icon.png">
        <link rel="icon" type="image/png" href="../static/img/fav.png">
        <title>Mobile Voting</title>
         <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="../static/css/material-dashboard.css?v=2.0.1">
        <link href="../static/assets-for-demo/demo.css" rel="stylesheet" />
        <script src='https://www.google.com/recaptcha/api.js'></script>

        <!-- <link rel="stylesheet" type="text/css" href="../static/styleregister.css">
 -->
    <!-- <style>
        body{
            background-image: url('../static/img/bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style> -->
    </head>
<body>
        <nav class="navbar navbar-expand-lg bg-primary navbar-transparent navbar-absolute" color-on-scroll="500">
        <div class="container-fluid">
          
          <ul class="nav navbar-left">
            <li><a href="/">Home</a></li>
          </ul>
          <ul class="nav navbar-left">
            <li><a href="/about">About</a></li>
          </ul>
          {% if session.logged_in %}
            <ul class="nav navbar-right">
              <li><a href="/dashboard">Dashboard</a></li>
            </ul>
            <ul class="nav navbar-right">
              <li><a href="/logout">Logout</a></li>
            </ul>
          {% else %}
            <ul class="nav navbar-right">
              <li><a href="/login">Login as Voter/Candidate</a></li>
            </ul>
            <ul class="nav navbar-right">
              <li><a href="/login_electionofficer">Login as Election Officer</a></li>
            </ul>
            <ul class="nav navbar-right">
              <li><a href="/register">Register as Voter</a></li>
            </ul>
            <ul class="nav navbar-left">
                    <li><a href="/results">Results</a></li>
            </ul>
            
          {% endif %}
        </div>
      </nav>
      <br><br>
    <div class="wrapper">
        <div class = "main-panel">
            <div class="row">
                <div class="col-md-6" style="margin-left: 15%" >
                    <div class = "card">
                        <div class="container">
                            {% include 'includes/_messages.html' %}
                            {% from "includes/_formhelpers.html" import render_field %}
                            <form method='POST' action="{{ url_for('register') }}">
                                <div class="card-header card-header-rose card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">mail_outline</i>
                                    </div>
                                    <h4 class="card-title">Register</h4>
                                </div>
                                <br><br>
                                <div class="form-group aa">
                                    <label for="exampleEmail" class="bmd-label-floating">Name</label>
                                    {{render_field(form.name, class_ = "form-control")}}
                                </div><br>
                                <label for="exampleEmail" class="bmd-label-floating">Gender</label>
                                {{ form.gender }}
                                <label for="exampleEmail" class="bmd-label-floating">Date Of Birth</label><br>
                                {{ form.dob(class='dtpick', class_ = "form-control", style = "border:1px solid grey;border-radius:4%;") }}
                                <br>
                                <br>
                                <div class="form-group aa">
                                    <label for="exampleEmail" class="bmd-label-floating">Aadhaar Number</label>
                                    {{render_field(form.aadhaar_no, class_ = "form-control")}}
                                </div>
                                <div class="form-group aa">
                                    <label for="exampleEmail" class="bmd-label-floating">Pincode</label>
                                    {{render_field(form.pincode, class_ = "form-control")}}
                                </div>
                                <div class="form-group aa">
                                    <label for="exampleEmail" class="bmd-label-floating">Mobile Number</label>
                                    {{render_field(form.phone, class_ = "form-control")}}
                                </div>
                                <div class="form-group aa">
                                    <label for="exampleEmail" class="bmd-label-floating">Email ID (Optional)</label>
                                    {{render_field(form.email_id, class_ = "form-control")}}
                                </div>
                                <div class="form-group aa">
                                    <label for="exampleEmail" class="bmd-label-floating">Password</label>
                                    {{render_field(form.password, class_ = "form-control")}}
                                </div>
                                <div class="form-group aa">
                                    <label for="exampleEmail" class="bmd-label-floating">Confirm Password</label>
                                    {{render_field(form.confirm, class_ = "form-control")}}
                                </div>
                                <!-- {% for error in form.recaptcha.errors %}
                                     {{ error }}
                                {% endfor %} -->
                                {{ form.recaptcha }}
                                <p><input type="submit" class="btn btn-fill btn-rose" value="submit"</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
      
    </body>
<script type="text/javascript" src = "../static/js/jquery-3.3.1.min.js"></script>
<!-- <script src="../static/js/core/jquery.min.js"></script>
 -->

</html>
