
    <h1>Dashboard <small> Welcome {{session.username}}</small></h1>
    <hr>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            
            <th></th>
        </tr>
        {% for candidate in candidates %}
            <tr>
                <td>{{candidate.AadhaarNumber}}</td>
                <td>{{candidate.Validate}}</td>
                <td><a href="validate_candidate/{{candidate.AadhaarNumber}}" class="btn btn-default pull-right">Valiate</a></td>
            </tr>
        {% endfor %}
    </table>